.card {
  border: 2px solid #ff2200;
  padding: 1rem;
  border-radius: 10px;
  width: 280px;
  margin: 1rem auto;
  background-color: #b8f8a9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
p{
    color:rgb(231, 96, 6);
    font-weight: bold;
}
strong{
    color:rgba(28, 42, 237, 0.934);
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cardHeader h2 {
  font-size: 1.5rem;
  color: #333;
}
.cardHeader img {
  width: 50px;
  height: 50px;
}   
.cardContent {
  font-size: 1.2rem;
  color: #555;
}